<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
   <servlet>
  	<servlet-name>StudentListServlet</servlet-name>
  	<display-name>StudentListServlet</display-name>
  	<description></description>
  	<servlet-class>com.school.StudentListServlet</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>AddSubjectServlet</servlet-name>
   	<display-name>AddSubjectServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.AddSubjectServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>NoticeListServlet</servlet-name>
   	<display-name>NoticeListServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.NoticeListServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>LogoutServlet</servlet-name>
   	<display-name>LogoutServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.LogoutServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>MarksheetServlet</servlet-name>
   	<display-name>MarksheetServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.MarksheetServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ResultServlet</servlet-name>
   	<display-name>ResultServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.ResultServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>AddFeedbackServlet</servlet-name>
   	<display-name>AddFeedbackServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.AddFeedbackServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>FeedbackListServlet</servlet-name>
   	<display-name>FeedbackListServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.FeedbackListServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ProfileServlet</servlet-name>
   	<display-name>ProfileServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.ProfileServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>EnquiryServlet</servlet-name>
   	<display-name>EnquiryServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.EnquiryServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>EnquiryListServlet</servlet-name>
   	<display-name>EnquiryListServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.EnquiryListServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>UserServlet</servlet-name>
   	<display-name>UserServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.UserServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>DeleteServlet</servlet-name>
   	<display-name>DeleteServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.DeleteServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>UpdateUserServlet</servlet-name>
   	<display-name>UpdateUserServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.UpdateUserServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>UpdateSubjectServlet</servlet-name>
   	<display-name>UpdateSubjectServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.UpdateSubjectServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>UpdateNoticeServlet</servlet-name>
   	<display-name>UpdateNoticeServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.UpdateNoticeServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>UpdateEnquiryServlet</servlet-name>
   	<display-name>UpdateEnquiryServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.UpdateEnquiryServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>UpdateResultServlet</servlet-name>
   	<display-name>UpdateResultServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.UpdateResultServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>UpdateFeedbackServlet</servlet-name>
   	<display-name>UpdateFeedbackServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.UpdateFeedbackServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>DashboardServlet</servlet-name>
   	<display-name>DashboardServlet</display-name>
   	<description></description>
   	<servlet-class>com.school.DashboardServlet</servlet-class>
   </servlet>
   <servlet-mapping>
  	<servlet-name>StudentListServlet</servlet-name>
  	<url-pattern>/StudentListServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>AddSubjectServlet</servlet-name>
   	<url-pattern>/AddSubjectServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>NoticeListServlet</servlet-name>
   	<url-pattern>/NoticeListServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>LogoutServlet</servlet-name>
   	<url-pattern>/LogoutSer</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>MarksheetServlet</servlet-name>
   	<url-pattern>/submit</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>ResultServlet</servlet-name>
   	<url-pattern>/ResultServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>AddFeedbackServlet</servlet-name>
   	<url-pattern>/AddFeedbackServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>FeedbackListServlet</servlet-name>
   	<url-pattern>/FeedbackList</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>ProfileServlet</servlet-name>
   	<url-pattern>/profile</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>EnquiryServlet</servlet-name>
   	<url-pattern>/EnquiryServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>EnquiryListServlet</servlet-name>
   	<url-pattern>/EnquiryListServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>UserServlet</servlet-name>
   	<url-pattern>/UserServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>DeleteServlet</servlet-name>
   	<url-pattern>/DeleteServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>UpdateUserServlet</servlet-name>
   	<url-pattern>/UpdateUserServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>UpdateSubjectServlet</servlet-name>
   	<url-pattern>/UpdateSubjectServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>UpdateNoticeServlet</servlet-name>
   	<url-pattern>/UpdateNoticeServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>UpdateEnquiryServlet</servlet-name>
   	<url-pattern>/UpdateEnquiryServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>UpdateResultServlet</servlet-name>
   	<url-pattern>/UpdateResultServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>UpdateFeedbackServlet</servlet-name>
   	<url-pattern>/UpdateFeedbackServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>DashboardServlet</servlet-name>
   	<url-pattern>/DashboardServlet</url-pattern>
   </servlet-mapping>
  
</web-app>
